html {
    scroll-behavior: smooth;
}


body {
    margin: 0;
    padding: 0;
    margin-top: -17px;
}

/* first section */
.head {
    margin-top: 17px;
    background-color: #DEA787;
    height: 107vh;
}

li {
    display: inline-block;
    margin: 0 17px;
}

a {
    text-decoration: none;
    color: #254c5f;
    font-weight: 900;
    font-family: cursive;
}

.navigational-links {
    float: right;
    margin-top: 15px;
    font-size: 17px;
}



a:hover {
    color: #707071;
}

.logo a {
    font-family: 'Sacramento', cursive;
    font-size: 49px;
    margin-left: 25px;
    color: #254c5f;
    padding: 8px;
    height: 34px;
    display: inline-block;
    font-weight: 800;
}


.head-middle {
    text-align: center;
    margin-top: 180px;
    color: #254c5f;
}

.head-middle h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 72px;
    word-spacing: 7px;


}

.head-middle h1 .d {
    font-family: 'ZCOOL KuaiLe', cursive;
    color: #fff;

}

@keyframes moveInTop {
    0% {
        opacity: 0;
        transform: translateY(200px; )
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }

}

.head-middle h1 .d:hover {

    animation: moveInTop 7s ease-in;
    color: #006C35;
}

.head-middle h1 .developer {
    font-family: 'Sacramento', cursive;

    color: #FFFFFF;
}

.head-middle h1 .developer:hover {
    animation: appear 5s;
    color: #FFFFFF;
    color: #161616;
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: translateY(200px; )
    }

    50% {
        opacity: .5;
        transform: translateX(500px; )
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }

}


/* --------------------------------------------------------------------------------------------------------- */
/* second section */
.second-section {
    height: 126vh;
}

.heading1 {
    color: #254c5f;
    font-weight: bolder;
    font-size: 35px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

.heading1-paragraph {
    width: 60%;
    margin: auto;
    color: #707075;
    text-align: center;
    font-size: 20px;
}

.work-heading {
    color: #254c5f;
    font-weight: bolder;
    font-size: 47px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

.work p {
    width: 60%;
    margin: auto;
    color: #707075;
    text-align: center;
    font-size: 20px;
}

.skills-heading {
    color: #254c5f;
    font-weight: bolder;
    font-size: 47px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

.skills p {
    width: 60%;
    margin: auto;
    color: #707075;
    text-align: center;
    font-size: 20px;
}

.software-heading {
    color: #254c5f;
    font-weight: bolder;
    font-size: 47px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

.software p {
    width: 60%;
    margin: auto;
    color: #707075;
    text-align: center;
    font-size: 20px;
}

/* -------------------------------------------------------------------------- */
/* footer section */


footer .icon {
    text-align: center;
    margin: 37px;
    color: #000;


}

.icon .fa {
    padding: 7px;
    color: #1D9BF0;
}

.icon .fa-linkedin-in {
    padding: 7px;
    color: #0077B5;
}

.icon .fa-instagram {
    padding: 7px;
    color: #F3645C;
}

/* .icon .fab .fa-instagram {
    padding: 7px;
    color: red;
} */


.icon .far {
    padding: 7px;

}

.copyright p {
    width: 60%;
    margin: 27px auto;
    color: #707075;
    text-align: center;
    font-size: 15px;

}